
.slider {
   flex: 1;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.info_product {
    margin-top: 5rem;
   flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    padding:0 2rem;
}