
.slider {
   flex: 1;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.info_product {
    margin-top: 5rem;
   flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    padding:0 2rem;
}