

.slider {
    flex: 2;
    margin: 0 auto;

}


.Image {
    background-color: red!important;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

.info_product {
   flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info {
    padding:0 2rem;
}